<h2 class="text-2xl">{{@planet.name}}</h2> 
<table>
  <tr>
    <td>
      Climate
    </td> 
    <td>{{@planet.climate}}</td>
  </tr>
  <tr>
  <td>Diameter</td>
  <td>{{@planet.diameter}}</td>
  </tr>
  <tr>
  <td>Gravity</td>
  <td>{{@planet.gravity}}</td>
  </tr>
  <tr>
  <td>Terrain</td>
  <td>{{@planet.terrain}}</td>
  </tr>
  <tr>
  <td>Population</td>
  <td>{{@planet.population}}</td>
  </tr>
  <tr>
  <td>Notable People</td>
  <td>
  Luke Skywalker
  C-3PO
  Darth Vader
  Owen Lars
  Beru Whitesun lars
  R5-D4
  Biggs Darklighter
  Luke Skywalker
  Darth Vader
  Owen Lars
    </td>
    </tr>
    <tr>
      <td>Films
      </td>
    </tr>
</table>
